{% extends "base.html" %}

{%block content%}
<h2>O que é uma Tabela Verdade?</h2>
  <p>
    Uma tabela verdade é uma ferramenta usada na lógica proposicional para descrever o comportamento lógico
    de proposições compostas. Ela mostra todas as possíveis combinações de valores verdadeiros (V) e falsos (F)
    para as proposições envolvidas.
  </p>

  <p>
    Por exemplo, para duas proposições P e Q, a tabela verdade exibe todas as 4 possíveis combinações
    (VV, VF, FV, FF) e os resultados de operações como "P e Q", "P ou Q", "se P então Q", etc.
  </p>
{%endblock%}