{% extends "base.html" %}

{%block css_especifico%}
<link rel="stylesheet" href="{{url_for('static', filename='table.css')}}">
{%endblock%}

{%block content%}
    <h2>Tabela-verdade</h2>

    <form method="post">
        <label>Número de proposições (maior ou igual a 1):
        <input type="number"  min="1" name="tabela">
        </label>
        <button >Gerar</button>
    </form>
    
    {%if erro == True%}
    <p class="mensagem_erro">Erro! Por favor, insira um número.</p>
    {%elif exibicao_tabela == True%}
    <table>
        <thead>
            <tr>
            {%for key in tabela%}
                <th>{{key}}</th>
            {%endfor%}
            </tr>
        </thead>
        <tbody>
            {%for index in range(0, num_linhas)%}
            <tr>
                {%for lista in tabela.values()%}
                <td>{{lista[index]}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%endif%}
{%endblock%}