{% extends "base.html" %}

{%block content%}

    <h1>Tb-verdade</h1>
    <form method="post">
        <label>N° de proposições: <input type="number"  min="1" name="tabela"></label>
        <button >Gerar</button>

    </form>
    {%if exibicao_tabela == True%}
    <table>
        <thead>
            <tr>
            {%for key in tabela%}
                <th>{{key}}</th>
            {%endfor%}
            </tr>
        </thead>
        <tbody>
            {%for index in range(0, num_linhas)%}
            <tr>
                {%for lista in tabela.values()%}
                <td>{{lista[index]}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%endif%}
{%endblock%}